@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Con questa pseudoclasse posso impostare la palette colori */
:root{
    --primary: #21335f;
    --secondary: #D95D39;
    --text-color: #2a2928;
    --bg-color: #ffffff;
}

body{
    font-family: "Open Sans", sans-serif;
    color: var(--text-color);
}

.container{
    padding: 1rem;
    max-width: 960px;
    margin: 0 auto;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 35px;;
}

.social{
    display: flex;
    gap: .5rem;
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    padding: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: .4rem ;
}

nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none; /*con questa regola tolgo il pallino accanto ad li*/
    gap: 1.5rem;
}

nav a{
    color: var(--bg-color);
    cursor: pointer;
    text-decoration: none;
}