body{
    display: block;
}

.red{
    color: red;
}

.blue{
    color: blue;
}

.upper{
    text-transform: uppercase;
}

.under{
    text-decoration: line-through;
}

.card{
    border: 1px solid black;
    width: 200px;
    height: auto;
    float: left;
    padding: 15px;
}

.card img{
    width: 100px;
    height: auto;
}